* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

h1 {
  background-color: #303030;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30%;
  margin-left: 30%;
  padding: 10px;
  cursor: pointer;
}

.navbar {
  background-color: black;
  color: aqua;
  font-size: 30px;
  padding: 10px;
}
